{% extends 'base.html' %} {% block content %} {%load static%}
<h1 class="cyan-text center">Line Details</h1>
<a href="{% url 'detail' line.id %}"></a>

<div class="row ">
  <div class="col s12 m6">
    {% for photo in line.photo_set.all %}
    <img class="responsive" src="{{photo.url}}" alt="" style="margin-top: 10px; margin-right: 4px; height: 345px; max-width: 500px; border-radius: 15px"/>
    {% empty %}
    <img class="responsive" src="{% static 'images/lg_no_photo.png' %}" alt="" style="margin-top: 10px; margin-right: 4px; height: 345px; max-width: 500px; border-radius: 15px" />
    {% endfor %}
  </div>
  <div id="click" class="card activator col s12 m6 cyan" style="border-radius: 15px;">
    <div class="card-content teal-text center-align" style="max-height: 350px;">
      <span class="card-title activator white-text text-darken-4 flow-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Average Wait Time<i class="material-icons right" style="font-size: 35px;">more_vert</i>
        <br><br></span>
      {% if avg <= 10 %}
      <p><span class="activator lime-text text-accent-3 flow-text" style="font-size: 100px">{{ avg }}</span>
      <span class="activator lime-text text-accent-3 flow-text" style="font-size: 40px;">min</span></p>
      {% elif avg > 10 and avg <= 20 %}
      <p><span class="activator yellow-text text-accent-2 flow-text" style="font-size: 100px">{{ avg }}</span>
        <span class="activator yellow-text text-accent-2 flow-text" style="font-size: 40px;">min</span></p>
      {% elif avg > 20 %}
      <p><span class="activator red-text text-darken-4 flow-text" style="font-size: 100px">{{ avg }}</span>
        <span class="activator red-text text-darken-4 flow-text" style="font-size: 40px;">min</span></p>
        {%else%}
      <p><span class="activator red-text text-darken-4 flow-text" style="font-size: 50px">No Wait Times Submitted!</span>
      {%endif%}
      <p><a class="activator white-text flow-text" href="#" style="font-size: 25px;"><br>Add a new wait time</a></p>
    </div>
      <div class="card-reveal grey darken-1 center-align">
        <span class="card-title white-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add Wait Time<i class="material-icons right">close</i></span>
        <form action="{% url 'add_wait' line.id %}" method="post">
        {% csrf_token %} {{ wait_form.as_p }}
          <input type="submit" class="btn cyan waves-effect waves-light" value="Add Wait Time" style="border-radius: 15px;" />
        </form>
        <br>
        <table class="centered">
      <thead>
        <tr>
          <th>Time</th>
          <th>Party Size</th>
          <th>Date</th>
          {% if wait.user.id == request.user.id %}
          <th>Delete</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for wait in line.wait_set.all %}
        <tr>
          <td>{{wait.wait_time}}</td>
          <td>{{wait.party_size}}</td>
          <td>{{wait.created}}</td>
          {% if wait.user.id == request.user.id %}
          <td><a class="red-text text-darken-4" href="{% url 'wait_delete' wait.id %}"><i class="material-icons">delete_forever</i></a></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
</div>

  {% if line.user.id == request.user.id %}
  {% for photo in line.photo_set.all %}

<div class="card col s12 m6 grey darken-1" style="border-radius: 15px;">
  <div class="card-content white-text">
    <span class="card-title">{{ line.name }}</span>
    <p>
      Line Address: {{ line.address }}, {{ line.city }}, {{ line.state }}
      {{line.postal_code}}
    </p>
    <p>Line Type: {{ line.get_line_type_display }}</p>
    <p>Catergory: {{ line.catergory }}</p>
    <p>Description: {{ line.description }}</p>
  </div>
  {% if line.user.id == request.user.id %}
  <div class="card-action" style="border-radius: 15px;">
    <a class="cyan-text center" href="{% url 'line_update' line.id %}">Edit</a>
    <a class="red-text text-darken-4 right" href="{% url 'line_delete' line.id %}">Delete</a>
  </div>
  {% endif %}
</div>
  {% empty %}
<div class="row">
  <div class="col s12 m6">
    <form action="{% url 'add_photo' line.id %}" enctype="multipart/form-data" method="POST" class="card-panel grey darken-1 center" style="border-radius: 15px; height: 230px">
      {% csrf_token %}
      <input type="file" name="photo-file" class="white-text">
      <br><br>
      <input type="submit" class="btn cyan" value="Upload Photo">
    </form>
  </div>
  
  <div class="card col s12 m6 grey darken-1" style="border-radius: 15px;">
    <div class="card-content white-text">
      <span class="card-title">{{ line.name }}</span>
      <p>
        Line Address: {{ line.address }}, {{ line.city }}, {{ line.state }}
        {{line.postal_code}}
      </p>
      <p>Line Type: {{ line.get_line_type_display }}</p>
      <p>Catergory: {{ line.catergory }}</p>
      <p>Description: {{ line.description }}</p>
    </div>
    {% if line.user.id == request.user.id %}
    <div class="card-action" style="border-radius: 15px;">
      <a class="cyan-text center" href="{% url 'line_update' line.id %}">Edit</a>
      <a class="red-text text-darken-4 right" href="{% url 'line_delete' line.id %}">Delete</a>
    </div>
    {% endif %}
  </div>
</div>
{% endfor %}
{% endif %}
{% if line.user.id != request.user.id %}
  <div class="card col s12 grey darken-1" style="border-radius: 15px;">
    <div class="card-content white-text">
      <span class="card-title">{{ line.name }}</span>
      <p>
        Line Address: {{ line.address }}, {{ line.city }}, {{ line.state }}
        {{line.postal_code}}
      </p>
      <p>Line Type: {{ line.get_line_type_display }}</p>
      <p>Catergory: {{ line.catergory }}</p>
      <p>Description: {{ line.description }}</p>
    </div>
  </div>
{% endif %}
  
  

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}