{% extends 'base.html' %}
{% block content %}

<h1>Wait Details</h1>

    <div class="row">
        <div class="col s6">
            <div class="card" style="height: 250px;">
                <div class="card-content center-align" >
                        <p class="">Avg: <span style="font-size: 125px;" class="avg-num">{{ avg }}</span></p>
                </div>
            </div>
        </div>
    
        <div class="col s6">
            <div class="card" style="height: 250px;">
                <div class="card-content center-align">
                    <form class="" action="" method="POST">
                        {% csrf_token %}
                        <div class="input-field">
                            <i class="material-icons prefix"></i>
                            <input id="access_time" class="validate" type="text" >
                            <button class="btn" type="submit">Update Time</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<br>
<hr>

    <table class="wait-table">
        <tr class="table-header">
            <th>Wait Time</th>
            <th>Party Size</th>
        </tr>
        {% for waits in wait %}
        <tr class="table-data">
            <td>{{ waits.wait_time }}</td>
            <td>{{ waits.party_size }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}