body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Helvetica,Helvetica,Arial,sans-serif;
  color: black;
  background-color: whitesmoke;
  
}
main {
  flex: 1 0 auto;
}
.nav-wrapper {
  background-color: black;
  
}  

footer.page-footer {
  background-color: black;
}