{% extends 'base.html' %}
{% block content %}

<div class="row grey darken-3" style="border-radius: 15px;">
    <div class="card center-align">
        <div class="card-content col s8 offset-s2">
            <p class="amber-text accent-3">Testing out the app? login using the username <b>test</b> and password <b>linetest</b></p>
            <h1 class="cyan-text">Log In</h1>

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <input type="submit" class="btn-large cyan waves-effect waves-light" value="login" style="border-radius:25px;">
                <input type="hidden" name="next" value="{{ next }}">
            </form>
            <br>
            <a class="cyan-text center-align" href="{% url 'signup' %}">Don't already have an account? Sign Up Now!</a>
        </div>
    </div>
</div>

{% endblock %}