{% extends 'base.html' %}
{% block content %}

<h1 class="cyan-text">About the Line Guide</h1>
<h5>Informs people about local business wait times.</h5>
<hr />
<h5 class="cyan-text">FAQ</h5>
<p>1. I can't find the line I'm looking for.</p>
<p>Line guide gives you the ability to create a new line! You must be logged in to add a new line. Simply click login/signup link at the top of the screen and login or create a new account! Once you have logged in you can click on Create NEW Line and add information about the business you want to create a line for.</p>
<p>2. How can I see all the wait times for a line?</p>
<p>Navigate to a business details page and click the 3 dots in the top right of the average wait time card. Here you can add a new time or view all the wait times submitted by other users.</p>
<p>3. Can i edit a line or change a picture?</p>
<p>If you created the line you can go to the business details page and at the bottom you can click on the Update Line link to make changes to your line</p>
<p>4. Can i delete a wait time?</p>

{% endblock %}