{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Line Guide</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper grey darken-4">
                <ul>
                    <li><a href="/" class="left brand-logo">&nbsp;&nbsp;<img src="{% static 'images/lg_logo_small_dark2.png' %}" alt="" style="height: 65px; border-left: 10px;"></a></li>
                </ul>
                <ul class="right">

                    <li><form action="{% url 'search_results' %}" method="get">
                        <li><input name="q" type="text" placeholder="Search..."></li>
                        <li><input name="l" type="text" placeholder="Location"></li>
                        <li><button type="submit" class="btn-floating btn-small waves-effect cyan darken-1"><i
                                    class="material-icons">search</i></button>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    </form></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    {% if request.user.id %}
                    <li><a class="text-cyan text-lighten-1" href="{% url 'line_create' %}">Create NEW Line</a></li>
                    <li><a href="{% url 'all_lines' %}">My Lines</a></li>
                    <li><a href="{% url 'logout' %}">LogOut</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">LogIn/SignUp</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer grey darken-4">
        All Rights Reserved, &copy; 2020 Line Guide &nbsp;
    </footer>
    
</body>
</html>