{% extends 'base.html' %}
{% block content %}
{% load static %}



<h1 class="box-header center"><img src="{% static 'images/lg_logo_big_anim_dark.gif' %}" alt="" style="border-radius: 60px; height: 300px;"></h1>
<br>
<form action="{% url 'search_results' %}" method="GET">
    {% csrf_token %}
    <div class="input-field center">
        <input class="grey darken-4 cyan-text" name="q" type="text" placeholder="&nbsp;&nbsp;Search..." style="width: 45%; border-bottom-left-radius: 15px; border-top-left-radius: 15px">
        <input class="grey darken-4 cyan-text" name="l" type="text" placeholder="Location" style="width: 20%; border-top-right-radius: 15px; border-bottom-right-radius: 15px; margin-left: -5px;"><br>
        <button class="btn cyan lighten-1 center" style="border-radius: 7px;">Search <i class="material-icons right">search</i></button>
    </div>
</form>


<!-- {{ yelp }} -->
{% endblock %}